* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.time {
    padding: 1px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #6ca4f8;
    color: white;
}

.container {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav ul a {
    color: black;
    margin: 1rem
}

.btn2m {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.btnlogin {
    background: rgb(248, 208, 27);
    cursor: pointer;
    font-size: 15px;
    color: black;  
}

.btn3m {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.btnlm {
    background: rgb(1, 158, 248);
    cursor: pointer;
    font-size: 15px;
    color: black;  
}

.container1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: white;
}

.wrapper {
    margin: 10px auto;
    margin-left: 30px;
}

.offgal {
    height: 120%;
    width: 60%;
    float: left;
    border: 5px solid #fff;
    border-radius: 10px;
    margin-right: 20px;
}

.text-box {
    color: black;
    margin-right: 30px;
}

.text-box h2 {
    font-size: 70px;
    margin-bottom: 40px;
}

.text-box p {
    font-size: 25px;
    color: black;
    margin-bottom: 50px;
}

.online-sec {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.onlinetext {
text-align: center; 
font-size: 30px;
margin-bottom: 3%;
}

.btnlg {
padding: 18px 100px;
border: none;
border-radius: 10px;
}


.btnletsgo {
background: #147B0E;
cursor: pointer;
font-size: 20px;
margin-left: 150px;
color: black; 
margin-bottom: 3%;
}

.gallery-section {
background-color: #A3CBF5;
text-align: center;
margin-top: 2%;
font-size: 30px;
margin-bottom: 3%;
}


.gall-sec {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 2%;
}

.gall-sec img {
width: 350px;
height: 300px;
border: 2px solid #ff3d0036;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px #00000042;
cursor: pointer;
margin: 10px;
transition: 400ms;
}


.gall-sec img:hover {
filter: grayscale(1);
transform: scale(1.03);
}

.btnlm {
padding: 18px 30px;
border: none;
border-radius: 10px;
margin-left: 100px;
}

.btnlearnmore {
background: white;
cursor: pointer;
font-size: 20px;
color: black; 
margin-bottom: 1%;
}

.aboutus p {
font-size: 30px;
margin-left: 15%;
}

.aboutus img {
float: left;
width: 15%;
height: 15%;
margin-left: 12%;
margin-top: 2%;
margin-right: 7%;
margin-bottom: 2%;
}


.aboutuslist {
font-size: 15px;
font-family: "Arial";
margin-top: 7%;
}

.credits {
background-color: #000000;
text-align: center;
margin-top: 8%;
}

.credittext {
display: flex;
justify-content: center;
align-items: center;
}

.credittext p {
margin-top: 1%;
margin-bottom: 1%;
margin-right: 3%;
color: white;
}

.off-sec {
background-color: #A3CBF5;
text-align: center;
font-size: 30px;
margin-bottom: 3%;
}

img#captlogo {
width: 18%;
height: 18%;
}

.captlogo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
border: 5px solid blue;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px black;
transition: 400ms;
}

.captlogo:hover {
filter: grayscale();
transform: scale(1.03);
}

.capt-sec h5 {
font-size: 60%;
margin-top: 0.5%;
}

.capt-sec p {
font-size: 40%;
}

.kag-sec {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.kag-sec img {
width: 200px;
height: 200px;
border: 5px solid blue;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px black;
transition: 400ms;
margin: 100px;
margin-bottom: 1%;
margin-top: 15%;
}

.kag-sec img:hover {
filter: grayscale();
transform: scale(1.03);
}

.kag-sec h5 {
font-size: 60%;
margin-top: 0.5%;
}

.kag-sec p {
font-size: 40%;
}

.kag-sec1 {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.kag-sec1 img {
width: 200px;
height: 200px;
border: 5px solid blue;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px black;
transition: 400ms;
margin: 60px;
margin-bottom: 1%;
margin-top: 15%;
}

.kag-sec1 img:hover {
filter: grayscale();
transform: scale(1.03);
}

.kag-sec1 h5 {
font-size: 60%;
margin-top: 0.5%;
}

.kag-sec1 p {
font-size: 40%;
}

.kag-sec2 {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.kag-sec2 img {
width: 200px;
height: 200px;
border: 5px solid blue;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px black;
transition: 400ms;
margin: 150px;
margin-bottom: 1%;
margin-top: 15%;
}

.kag-sec2 {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.kag-sec2 img:hover {
filter: grayscale();
transform: scale(1.03);
}

.kag-sec2 h5 {
font-size: 60%;
margin-top: 0.5%;
}

.kag-sec2 p {
font-size: 40%;
margin-bottom: 10%;
}